@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  $primary_color: #fe2c55;
  $secondary_color: #20d5ec;
  $text_color: #888;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
